*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
   nav{
      height: 80px;
      width: 100%;
      background: black;
  }
  label.logo{
      font-size: 35px;
      font-weight: bold;
      color: white;
      padding: 0 100px;
      line-height: 80px;
  }
  nav ul{
      float: right;
      margin-right: 40px;
  }
  nav li{
      display: inline-block;
      margin: 0 8px;
      line-height: 80px;
  
  }
  nav a{
      color: white;
      font-size: 18px;
      text-transform: uppercase;
      border: 1px solid transparent;
      padding: 7px 10px;
      border-radius: 3px;
      text-decoration: none;
      
  }
  a.active,a:hover{
      border: 1px solid white;
      transition: .5s;
  }
  nav #icon{
      color: white;
      font-size: 30px;
      line-height: 80px;
      float: right;
      margin-right: 40px;
      cursor: pointer;
      display: none;
  
  }
  @media (max-width: 1048px){
      label.logo{
          font-size: 32px;
          padding-left: 60px;
      }
      nav ul{
          margin-right: 20px;
      }
      nav a{
          font-size: 17px;
      }
  
  }
  @media (max-width: 909px){
      nav #icon{
          display: block;
  
      }
      nav ul{
          position: fixed;
          width: 100%;
          height: 100vh;
          background: black;
          top: 80px;
          left: -100%;
          text-align: center;
          transition: all .2s;
      }
      nav li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
  
      }
      nav a{
      font-size: 20px;
  
      }
      a.active,a:hover{
      border: none;
      color: #3498db;
  
      }
      nav ul.show{
      left: 0;
     }
  }
  section{
          
          margin-left: 0px;
          margin-right: 0px;
  }

 
  body{
    font-family: montserrat;
    font-weight: 400;
    background-color: #ededed;
  }

   .footer{
    padding-top: 30px;
    padding-bottom: 10px;
    
    background-color: grey;  
   

  }
  .footer .social {
    text-align: center;
    
    padding-bottom: 25px;
    color: black;
  }
  .footer .social a{
    font-size: 24px;
    color: inherit;
    border: 1px solid rgba(55, 50, 50, 0.632);
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
  }
  .footer .social a:hover{
    opacity: 0.9;
  }
  .footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
    
  }
 .footer ul li a{
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
 }
 .footer ul li{
    display: inline-block;
    padding: 0 15px;
 }
 .footer ul li a:hover{
    opacity: 1;
 }
 .footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: black;
    
 }
 .column {
   float: left;
   width: 30%;
   padding: 30px;
   
 }
 
 
 .row{
   justify-content: center;
   
 }
 
 a{
  text-decoration: none;
 }